files:
  "/opt/elasticbeanstalk/support/newrelic-sysmond":
    mode: "000777"
    content: |
      #!/bin/bash

      . /opt/elasticbeanstalk/support/envvars.d/sysenv

      case $1 in
        install)
          rpm -Uvh http://download.newrelic.com/pub/newrelic/el5/i386/newrelic-repo-5-3.noarch.rpm
          yum -y install newrelic-sysmond
          nrsysmond-config --set license_key=$NEWRELIC_LICENSE_KEY
          /etc/init.d/newrelic-sysmond start
          exit 0
          ;;
        test)
          if [ -f /etc/init.d/newrelic-sysmond ]; then
            exit 1
          else
            exit 0
          fi
          ;;
        *)
          echo "usage: newrelic-sysmond {install|test}"
          ;;
      esac

commands:
  newrelic-sysmond:
    command: "/opt/elasticbeanstalk/support/newrelic-sysmond install"
    test: "/opt/elasticbeanstalk/support/newrelic-sysmond test"
