files:
  "/etc/init.d/puma":
    mode: "000777"
    content: |
      #!/usr/bin/env bash

      . /opt/elasticbeanstalk/support/envvars.d/sysenv
      RAILS_ENV=production

      case "$1" in
        start)
          /etc/init.d/passenger stop
          cd /var/app/current
          bundle exec puma -d -t 8:32 -w 4 --preload -b tcp://0.0.0.0:80
        ;;
        stop)
          pkill -f "puma -d -t 8:32 -w 4 --preload -b tcp://0.0.0.0:80"
        ;;
        *)
          echo "puma [start|stop]"
          exit 1
        ;;
      esac
      exit 0

  "/opt/elasticbeanstalk/hooks/preinit/26_puma_start.sh":
    mode: "000777"
    content: |
      /etc/init.d/puma start

  "/opt/elasticbeanstalk/hooks/restartappserver/enact/01_restart.sh":
    mode: "000777"
    content: |
      /etc/init.d/puma stop
      /etc/init.d/puma start

  "/opt/elasticbeanstalk/hooks/configdeploy/enact/99_reload_app_server.sh":
    mode: "000777"
    content: |
      /etc/init.d/puma stop
      /etc/init.d/puma start

  "/opt/elasticbeanstalk/hooks/appdeploy/enact/99_reload_app_server.sh":
    mode: "000777"
    content: |
      /etc/init.d/puma stop
      /etc/init.d/puma start

commands:
  remove_25_passenger:
    command: "rm -f /opt/elasticbeanstalk/hooks/preinit/25_passenger.sh"
    ignoreErrors: true
  remove_26_passenger_start:
    command: "rm -f /opt/elasticbeanstalk/hooks/preinit/26_passenger_start.sh"
    ignoreErrors: true
