files:
  "/opt/elasticbeanstalk/support/eb-sidekiq.sh":
    mode: "000777"
    content: |
      #!/bin/bash

      case $1 in
        start)
          cd /var/app/current
          . /opt/elasticbeanstalk/support/envvars.d/sysenv
          sleep 10
          bundle exec sidekiq -e production -P /var/app/support/pids/sidekiq.pid -L /var/app/support/logs/sidekiq.log -d
          ;;
        stop)
          if [ -f /var/app/support/pids/sidekiq.pid ]; then
            kill -TERM `cat /var/app/support/pids/sidekiq.pid`
            rm -rf /var/app/support/pids/sidekiq.pid
          fi
          ;;
        *)
        echo "usage: eb-sidekiq.sh {start|stop}" ;;
      esac
      exit 0

  "/opt/elasticbeanstalk/hooks/appdeploy/post/21_restart_sidekiq":
    mode: "000777"
    content: |
      /opt/elasticbeanstalk/support/eb-sidekiq.sh start

  "/opt/elasticbeanstalk/hooks/appdeploy/pre/09_mute_sidekiq":
    mode: "000777"
    content: |
      /opt/elasticbeanstalk/support/eb-sidekiq.sh stop

  "/etc/monit.d/sidekiq":
    mode: "000644"
    owner: root
    group: root
    content: |
      check process sidekiq
      with pidfile /var/app/support/pids/sidekiq.pid every 2 cycles
      start program = "/opt/elasticbeanstalk/support/eb-sidekiq.sh start"
      stop program = "/opt/elasticbeanstalk/support/eb-sidekiq.sh stop"

commands:
  remove_bak:
    command: "rm -f /etc/monit.d/sidekiq.bak"
    ignoreErrors: true
